@import "src/styles";

.RowsCreateModal {
  &__Field {
    &Label {
      @include flexbox($alignItems: center, $gap: rem(10px));
      margin-bottom: rem(5px);
      font-weight: bold;
    }

    &Color {
      input {
        height: rem(43px);
        padding: 0 !important;
      }
    }

    &Picture {
      @include flexbox($alignItems: center, $gap: rem(15px));

      &__Preview {
        pointer-events: none;
      }

      label {
        @include flexbox($alignItems: center, $direction: column, $gap: rem(2px));
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
