@import "src/styles";

.PageSidebar {
  margin-top: -1rem !important;
  padding-bottom: 0 !important;
  height: calc(100% + 2rem);
  border-radius: 0 !important;

  &_hidden {
    visibility: hidden;
  }
}
