@import "src/styles";

.RowsTable {
  &__HeaderCell {
    @include flexbox($alignItems: center, $justifyContent: space-between);
  }

  &__ColorCell {
    @include flexbox($alignItems: center, $gap: rem(10px));

    span {
      display: inline-block;
      width: rem(16px);
      height: rem(16px);
      border-radius: rem(5px);
    }
  }
}
