@import "src/styles";

.PageLayout {
  min-height: 100vh;

  &__Header {
    @include flexbox($alignItems: center, $gap: rem(15px));

    a {
      text-decoration: none;
      color: inherit;
    }

    :global(.ui.header) {
      margin-top: 0 !important;
    }
  }
}
